@charset "utf-8";
footer {
    position: relative;
    z-index: 10;
    padding: 15px 0 20px;
    background-color: #ECECEC;
    text-align: center;
    .px14 {}
    .sns_icon {
        margin-top: 10px;
        margin-bottom: 18px;
    }
    .tw {
        &:hover {}
    }
    .fb {
        &:hover {}
    }
    .copyr {
        color: $ts_c;
    }
    @media #{$sp} {
        padding: 37px 0 22px;
        .sns_icon {
            margin-top: 12px;
            margin-bottom: 19px;
        }
    }
}
