$sp: "only screen and (max-width:750px)";
$pc: "only screen and (min-width:751px)";
//$s-pc: "only screen and (min-width:769px) and (max-width:1220px)";
$tm_c: #494949;
$ts_c: #868683;
$ib_c: #E56E7A;
$ir_c: #4eb3da;
$iy_c: #eab84d;
$iyl_c: #fbf2dd;
$cb_c: #DF4B5A;
$cdb_c: #d81f32;