// Hack for Safari 7.1-8.0
@media #{$pc} {
    _::-webkit-full-page-media,
    _:future,
    :root header .fixed_nav .logo {
        margin-top: -21px;
        margin-bottom: -12px;
    }
}

@media #{$sp} {
    _::-webkit-full-page-media,
    _:future,
    :root header .fixed_nav .logo {
        margin-bottom: -17px;
    }
}
